$clr-text-primary-blue: hsl(238, 29%, 16%);
$clr-text-primary-red: hsl(14, 88%, 65%);
$clr-text-secondary-dark-blue: hsl(237, 12%, 33%);
$clr-text-secondary-blue: hsl(240, 6%, 50%);

$clr-gradient-violet: hsl(273, 75%, 66%);
$clr-gradient-blue: hsl(240, 73%, 65%);

$clr-primary-dividers: hsl(240, 5%, 91%);

$break-medium: 768px;
$break-desktop: 1024px;
