main {
  // max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem;

  @media screen and (min-width: $break-medium) {
  }
}
