*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 10px;
  background-image: linear-gradient(
    to bottom,
    $clr-gradient-violet,
    $clr-gradient-blue
  );
  background-repeat: no-repeat;
  color: $clr-text-primary-blue;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
}

ul {
  list-style: none;
}

@media screen and (min-width: $break-medium) {
}

@media screen and (min-width: $break-desktop) {
}
